/* Author: Jo Jung
Date: Day Month Year
Version: Week 09
*/

/*
COLOURS
#211d1c - dark brown (for text)
#2f261d - brown
#4389a2 - teal
#c62d03 - burnt red
*/

/*GLOBAL SETTING
----------------------------------------
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,700;1,300;1,700&display=swap');

body {
	font-size: 16px;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #211d1c;
	margin: 0;
}

#wrapper {
	position: relative;
	width: 1200px; 
	margin: 0 auto;
}

h1 {
	font-size: 3em;
	font-weight: 700;
}

h2 {
	font-size: 1.6em;
	font-weight: 700;
}

a {
	color: #225c71; /* dark teal */
}

a:visited {
	color: #c62d03; /* burnt red */
}



/* HEADER
----------------------------------------
*/

header {
	background: #2f261d	url(_images/banner_1200.jpg);
	height: 430px;
	color: #ffffff;	
}
	
header h1 {
	visibility: hidden;
}

header img {
	position: relative;
	top: 20px; left: 20px;
	z-index: 999;
}

/* NAVIGATION
----------------------------------------
*/

nav {
	background-color: rgba(0,0,0,0.65);
	position: absolute;
	top: 0px; left: 0px;
	width: 100%; /* = 1200px */
	padding-top: 45px;

}

nav a {
	color: #ffffff; /* white */
	text-decoration: none;
	padding: 10px 20px 15px 20px;
}

nav a:hover {
	background-color: #356d81;
}

nav a:visited {
	color: #ffffff;
}

nav ul {
	padding-left: 200px;
	list-style: none;
}

nav li {
	display: inline;
}

nav span {
    padding: 10px 20px 15px 20px;
	background-color: #356d81;
    color: #ffffff;
}


/* CONTENT 1
----------------------------------------
*/
#three-columns {
    display: flex;
    margin: 30px 0;
    text-align: center;
}

#three-columns section {
    padding: 0 20px;
}


/* CONTENT 2
----------------------------------------
*/
#community {
    background-color: #4389a2;
    color: #ffffff;
    display: flex;
    padding: 25px;
}

#community div {
    padding-left: 25px;

}

#community a {
	color: #ffffff;
	text-decoration: none;
	font-size: 1.2em;
	border: 1px solid #ffffff;
	padding: 4px 15px;
}


/* SIDEBAR
----------------------------------------
*/
aside {
    display: flex;
    flex-direction: row;
	flex-wrap: nowrap;
    background-color: #eee9d9;
}

aside section {
	padding: 25px;/*the value of paddings added to the Green Community <article> */
}

aside h2 {
	font-size: 1.2em;
}

aside img {
	width: 70%; height: auto;/* You will need to try different width values to get the dimensions you want to achieve */
}


/* SIDEBAR - Blockquote
----------------------------------------
*/
blockquote {
	background: #ffffff;
	margin-bottom: 0;
	align-self: flex-end;
	padding: 30px 25px 25px 25px; /* top, right, bottom and right - clockwise */
}


/* FOOTER
----------------------------------------
*/
footer {
	font-size: 0.8em;
}

footer ul {
	display: flex;
	
	/*	Designer preference: I could have used the "space-around" and avoid using the padding-right added in the footer li. But I didn't like the space created by the "space-around" alignment. */
	justify-content: center;
}

footer li {
	list-style: none;
	padding-right: 20px;
}